Builds/VisualStudio2022/.vs/*
Builds/VisualStudio2022/x64/Debug/ConsoleApp/*
!Builds/VisualStudio2022/x64/Debug/ConsoleApp/zerochecker.exe
Builds/VisualStudio2022/x64/Release/ConsoleApp/*
!Builds/VisualStudio2022/x64/Release/ConsoleApp/zerochecker.exe
